





#gameScreen
	background-color #f5b600
	min-height 500px//後で調節
	color gray

	h2
		text-align center
		// padding-left 10%
		margin 20px
		font-size 20px
		font-weight bold

	#gameArea
		p#timer
			text-align center
			margin 20px
			font-size 20px
			color gray
		#game
			margin 20px
			table
				margin 0 auto
		p#bombInfo
			margin 20px
			text-align center
			color gray

	#giveupButtonArea
		opacity 0.3
		&:hover
			opacity 1!important
		p
			text-align right
		#giveupText
			opacity 0.1



//--------------------------------------------


cellSize = 23px
fontSize = 12px

table
	border-width 8px
	border-style solid
	border-spacing 0px
	border-color #999
	background-color #fff
	tr
		td
			div
				transition-property background-color
				transition-duration 0.5s
				display table-cell
				width cellSize
				height cellSize
				margin 0px

				font-size fontSize
				text-align: center
				vertical-align middle

				border-width 2px
				border-style dashed
				border-color #ddd


				&.closed, &.flag
					border-style solid
					border-color #aaa
					background-color #ccc
					&:hover
						opacity 0.7
					&:active
						opacity 0.5

				&.flag
					background-color #c97aca

					
				&.zero
					background-color white
				&.number
					background-color white
				&.n1:after
					content "1"
				&.n2:after
					content "2"
				&.n3:after
					content "3"
				&.n4:after
					content "4"
				&.n5:after
					content "5"
				&.n6:after
					content "6"
				&.n7:after
					content "7"
				&.n8:after
					content "8"
					

				&.bomb
					background-color #f55f62

