
cellSize = 30px
fontSize = 10px

table
	border-width 6px
	border-style solid
	border-spacing 0px
	border-color #999
	tr
		td
			div
				display table-cell
				width cellSize
				height cellSize
				margin 0px

				font-size fontSize
				text-align: center
				vertical-align middle

				border-width 1px
				border-style dashed
				border-color #ddd


				&.closed, &.flag
					border-style outset
					border-color #aaa
					background-color #ccc
					&:hover
						opacity 0.9
					&:active
						opacity 0.7

				&.flag
					background-color orange

					
				&.zero
					background-color white
				&.number
					background-color white
				&.n1:after
					content "1"
				&.n2:after
					content "2"
				&.n3:after
					content "3"
				&.n4:after
					content "4"
				&.n5:after
					content "5"
				&.n6:after
					content "6"
				&.n7:after
					content "7"
				&.n8:after
					content "8"
					

				&.bomb
					background-color red

