doctype html
html(lang="ja")

	head
		title= MineSweeper
		//- link(rel='stylesheet', href='reset.css')
		link(rel='stylesheet', href='main.css')
		link(rel='stylesheet', href='startScreen.css')
		link(rel='stylesheet', href='gameScreen.css')
		link(rel='stylesheet', href='endScreen.css')

	body

		.screen#gameScreen
			.wrapper
				h2 Mine Sweeper

				#gameArea
					p#timer 00:00
					#game
					p#bombInfo bomb × <span id="bombInfoNum">5</span>

				#giveupButtonArea
					p#giveupText give up
					p (・ェ・`=)


		//- ゲームオーバーとクリア時に広がる背景
		#spreadWrapper
			#spreadBg


		.screen#gameEndArea
			.wrapper
				h1 GameOver!
				p
					a(onclick="onClickRetryButton();") retry



		.screen#startScreen
			.wrapper
				h1 Mine Sweeper!

				.row#sizeSelecter
					p
						input#xSize(value="5" maxlength="2")
						span ×
						input#ySize(value="5" maxlength="2")

				.row#bombNumSelecter
					p
						span bomb
						span ×
						input#bombNum(value="5" maxlength="2")

				.row#startButtonArea
					p
						a(onclick="onClickStartButton();")#startButton start!


		//- .screen#endScreec
		//- 	.wrapper
		//- 		p GameOver!

	script(src="lib/jquery-2.1.3.min.js")
	script(src="gameLogic.js")
	script(src="gameFront.js")
	script(src="main.js")
