
table
	border-width 10px
	border-style solid
	
	td
		div
			display table-cell
			border-width 3px
			border-style outset
			width 50px
			height 50px
			margin 0px
			font-size 20px
			text-align: center
			vertical-align middle

			&.closed
				background-color gray

			&.zero
				background-color white

			&.flag
				background-color orange

			&.bomb
				background-color red
				
			&.number
				background-color white
			&.n1:after
				content "1"
			&.n2:after
				content "2"
			&.n3:after
				content "3"
			&.n4:after
				content "4"
			&.n5:after
				content "5"
			&.n6:after
				content "6"
			&.n7:after
				content "7"
			&.n8:after
				content "8"
				

